.*~
*~
*.info
*.mod
*.swp
.repo-index
*.log
build.log.round*
*.tar.*
*.tgz
!*.tar.*.*
*.zip
*.jar
*.pom
*.xml
commitmsg
results/
rpms/
for-review.txt
testresults
bazelsources
# If committing a license source file, name it <COMPONENT>_LICENSE instead of
# the generic names below.
LICENSE
LICENSE.txt
license.txt
license.rst.txt
